################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sprout.hr.admin.core/bin/Debug/netcoreapp3.1
/sprout.hr.admin.core/obj
/sprout.hr.admin.portal/bin/Debug/netcoreapp3.1
/sprout.hr.admin.portal/obj
/sprout.hr.admin.test/bin/Debug/netcoreapp3.1
/sprout.hr.admin.test/obj
