################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sprout.hr.admin.core/bin/Debug/netcoreapp3.1
