<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/Home">
                <img class="navbar-logo d-none d-md-block mr-2" src="img/sprout-philippines.png" />
            </a>
        </div>
    </nav>
</header>